/* ====== GLOBAL ====== */
body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sant-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.button {
	font: inherit;
	line-height: 18px;
	text-align: center;
  	color: #ffffff;
  	font-weight: 500;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-color: #fb565a;
  	border: none;
}
.button:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}
.button:hover {
	background-color: #e74246;
}
.button-show {
  	color: #000000;

  	background-color: #eeeeee;
  	border: none;
}
.button-show:hover {
	color: #000000;

	background-color: #dfdfdf;
}
.button-show:focus {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}
/* ====== MAIN-FOOTER ====== */
.contacts-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.contacts-item {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts-phone {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts-phone a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.footer-social ul {
	list-style: none;
}
.footer-friends {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.footer-discount {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}
.footer-social ul {
	list-style: none;
}
/* ====== MODALS ====== */
.modal {
	display: none;
}
.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.form-writeus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}
.form-writeus input,
.form-writeus textarea {
	border: 2px solid #d7dcde;
}
.form-writeus input:hover,
.form-writeus textarea:hover {
	border: 2px solid #b4b9bb;
}
.form-writeus input:focus,
.form-writeus textarea:focus {
	border: 2px solid #000000;
}
/* ====== SOCIAL ====== */
.social-button {
	color: #000000;
	}
/* ====== MAIN-HEADER ====== */
.main-header {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;

	background-color: #eeeeee;
}
.site-navigation,
.user-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	list-style: none;
}
.site-navigation a,
.user-navigation a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus {
	color: #000000;
	opacity: .3;
}
/* ====== INDEX ====== */
/* ====== PROMO ====== */
.promo {
	background-color: #eeeeee;
}
.slider-list {
	list-style: none;
}
.slider-heading {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}
.slider-item-design {
	background-image: url("../img/slider-threephone.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.slider-item-math {
	background-image: url("../img/slider-monitor.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.slider-item-work {
	background-image: url("../img/slider-laptopandphone.png");
	background-repeat: no-repeat;
	background-position: right center;
}
/* ====== FEATURES ====== */
.features-list {
	list-style: none;
}
.features-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}
.features-website {
	background-image: url("../img/index-website.png");
	background-repeat: no-repeat;
}
.features-app {
	background-image: url("../img/index-apps.png");
	background-repeat: no-repeat;
}
.features-presentation {
	background-image: url("../img/index-presentation.png");
	background-repeat: no-repeat;
}
/* ====== ABOUT-COMPANY ====== */
.about-us p:first-child {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.about-us .about-us-services {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.our-services {
	list-style: none;
}
/* ====== CONDITIONS ====== */
.conditions p {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.conditions-percent {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	color: #000000;
}
/* ====== PARTNERS ====== */
.partners-list {
	list-style: none;
	opacity: .2;
}
/* ====== CATALOG ====== */
.page-content-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 110px;
	margin-bottom: 55px;
}
.intro {
	background-color: #eeeeee;
}
.catalog-list {
  	list-style: none;
}
.catalog-item {
  	background-color: rgba(77, 77, 77, 0.12);
}
.catalog-item:hover {
  	background-color: rgb(77, 77, 77);
}
.catalog-item {
	font-size: 16px;
  	line-height: 18px;
}
.catalog-title {
	font-size: 18px;
  	line-height: 30px;
  	font-weight: 700;
  	color: #000000;
  	text-transform: uppercase;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: #000000;
	text-transform: uppercase;

  	background-color: #eeeeee;
}
.pagination-item a:hover {
	color: #000000;

	background-color: #dfdfdf;
}
.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}
.pagination-item-active {
	background-color: #ffffff;
}
/* ====== FILTERS ====== */
.filters fieldset {
 	border: none;
}
.filters legend {
  	font-size: 18px;
 	line-height: 30px;
  	font-weight: 700;
  	text-transform: uppercase;
}
.filters ul {
 	font-size: 16px;
  	line-height: 20px;
  	
  	list-style: none;
}
/* ====== Стили для сетки ====== */
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-header-logo {
	width: 160px;
	height: 65px;
}
.site-navigation {
	width: 600px;
	margin: 0;
	padding: 0;
}
.user-navigation {
	width: 160px;
	margin: 0;
	padding: 0;
}
.features {
	margin-bottom: 80px;
}
.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}
.features-item {
	width: 300px;
}
.about-company {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 40px;
}
.partners {
	margin-bottom: 80px;
}
.partners-list {
	display: flex;
	justify-content: space-between;
}
.main-footer {
	padding: 70px 0
}
.container .footer-social {
	display: flex;
}
.footer-social ul {
	width: 280px;
	margin: 0;
	margin-right: 80px;
}
.footer-for-friends p {
	width: 560px;
	margin: 0;
}
.promo {
	margin: 0;
}
.filters {
	width: 360px;
}
.catalog {
	width: 760px;
}
.catalog-columns {
	display: flex;
}
.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  	margin-right: 0;
}
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}
.pagination-list {
	padding: 0;
	margin: 0;

  	list-style: none;
}
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
