/* ====== GLOBAL ====== */
body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sant-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.button {
	display: block;
	width: 240px;
	padding: 16px 0;
	  
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	  
	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}
.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
  
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button-red {
	width: 160px;
}
.button-green {
	width: 160px;

	background-color: #00ca74;
}
.button-green:hover {
	background-color: #00bc6c;
}
.button-green:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;
}
.button-orange {
	width: 160px;

	background-color: #efc84a;
}
.button-orange:hover {
	background-color: #eab534;
}
.button-orange:focus {
	color: rgba(255, 255, 255, 0.3);

	background-color: #e5a722;
}
.button-show {
  	color: #000000;

  	background-color: #eeeeee;
  	border: none;
}
.button-show:hover {
	color: #000000;

	background-color: #dfdfdf;
}
.button-show:focus {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}
.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 100px;

	background-color: #e1e1e1;
}
.button-writetous {
	width: 220px;
	margin-top: 5px;
}
/* ====== MAIN-FOOTER ====== */
.contacts-title {
	 margin: 0;
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}
.contacts-item {
	font-size: 16px;
	font-style: normal;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
	width: 205px;
}
.contacts-phone {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts-phone a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts {
  position: absolute;
  left: 215px;
  top: 62px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 49px 50px 47px 52px;
  width: 217px;
}
.contacts p {
	padding-bottom: 20px;
}
.footer-social {
	width: 1160px;
	margin: 0 213px;
	padding: 0;
}
.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
.footer-friends {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.footer-discount {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}
/* ====== MODALS ====== */
.modal {
	display: none;
}
.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.form-writeus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}
.form-writeus input,
.form-writeus textarea {
	border: 2px solid #d7dcde;
}
.form-writeus input:hover,
.form-writeus textarea:hover {
	border: 2px solid #b4b9bb;
}
.form-writeus input:focus,
.form-writeus textarea:focus {
	border: 2px solid #000000;
}
/* ====== SOCIAL ====== */
.social-button {
	color: #000000;
}
/* ====== MAIN-HEADER ====== */
.main-header {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 49px;
	padding-left: 90px;

	background-color: #eeeeee;
}
.site-navigation,
.user-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	list-style: none;
}
.site-navigation a,
.user-navigation a {
	display: block;
	padding: 26px 20px 8px 26px;

	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	vertical-align: middle;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus {
	color: #000000;
	opacity: .3;
}
.inner-page .main-navigation {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.site-navigation .active {
padding-bottom: 5px;
border-bottom: 2px solid #f7898b;
width: 74px;h
}
/* ====== INDEX ====== */
/* ====== PROMO ====== */
.promo {
	background-color: #eeeeee;
}
.slider {
	position: relative;
	background-color: #eeeeee;
}
.slider-controls {
	position: absolute;
	left: 720px;
	bottom: 175px;
	z-index: 100;
	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}
.slider-controls i {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}
.slider-controls i::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	width: 18px;
	height: 18px;
  
	background: #ffffff;

	border-radius: 50%;
}
.slider-controls .active::before {
	content: "";
	  
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	  
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}
.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}
.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 26px;
}
.slider-heading {
	max-width: 600px;
	margin: 0;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	margin-top: 16px;
	padding-top: 16px;
}
.slider-item {
	display: none;
	padding: 62px 0 81px 0;
}
.slider-item:nth-child(1) {
	display: block;
}
.slider-item:nth-child(1) {
	background-image: url("../img/slider-threephone.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}
.slider-item:nth-child(2) {
	background-image: url("../img/slider-monitor.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.slider-item:nth-child(3) {
	background-image: url("../img/slider-laptopandphone.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}
.slider-item .button {
	margin-top: 38px;
}
/* ====== FEATURES ====== */
.features-list {
	list-style: none;
}
.features-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-top: 170px;
}
.features-website {
	background-image: url("../img/index-website.png");
	background-repeat: no-repeat;
}
.features-app {
	background-image: url("../img/index-apps.png");
	background-repeat: no-repeat;
}
.features-presentation {
	background-image: url("../img/index-presentation.png");
	background-repeat: no-repeat;
}
/* ====== ABOUT-COMPANY ====== */
.about-us {
	width: 660px;
}
.about-us p:first-child {
	margin: 0 0;
    padding: 0 0;
    margin-top: 58px;
    margin-bottom: 32px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.about-us p:nth-child(2) {
	width: 625px;
	margin-bottom: 39px;
}
.about-us .about-us-services {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.our-services {
	margin: 0;
	margin-top: 25px;
	padding: 0;
	padding-left: 35px;

	list-style: none;
}
.our-services-item {
	position: relative;
	margin-bottom: 22px;
	margin-left: 2px;
}
.our-services-item::before {
	position: absolute;
	content: '';
	top: 12px;
	left: -35px;

	width: 25px;
	height: 10px;

	border-top: 2px solid #fb565a;
}
/* ====== CONDITIONS ====== */
.conditions {
	width: 360px;
	margin: 0;
	padding: 0;
}
.conditions img {
	padding-top: 23px;
	padding-left: 45px
}
.conditions p {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.conditions .period {
	width: 450px;
	margin-top: 29px;
	margin-bottom: 45px;
	padding-left: 62px;
}
.conditions-percent {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	color: #000000;
}
.conditions-percent td {
	padding-right: 16px;
	padding-bottom: 35px;
}
.conditions table {
	margin-left: 42px;
}
.conditions sup {
	font-size: 30px;
}
table .table-item {
	margin: 0;
	padding: 0;
	line-height: 18px;
}
/* ====== PARTNERS ====== */
.partners-item {
	position: relative;
	padding-right: 17px;
	text-align: center;
	width: 22%;

	list-style: none;
	opacity: .2;
}
.partners-item:not(:last-child)::after {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 52px;
	top: 50%;
	transform: translateY(-50%);
	right: -8px;
	background-color: #eeeeee;
}
.partners-item:hover {
	opacity: 1;
}
.partners-item:active {
	opacity: .1;
}
/* ====== CATALOG ====== */
.page-content-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 110px;
	margin-bottom: 55px;
	padding-top: 80px;
}
.intro {
	background-color: #eeeeee;
}
.catalog-list {
  	list-style: none;
}
.catalog-item {
	position: relative;
	font-size: 16px;
  	line-height: 18px;

  	background-color: rgba(77, 77, 77, 0.12);
}
.catalog-title {
	font-size: 18px;
  	line-height: 30px;
  	font-weight: 700;
  	color: #000000;
  	text-transform: uppercase;
}
.pagination-list {
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 0;

  	list-style: none;
}
.pagination-item {
	margin-right: 10px;
}
.pagination-item-active {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border: 2px solid #eeeeee;
	border-radius: 3px;
}
.pagination-item a {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	border-radius: 3px;

  	background-color: #eeeeee;
}
.pagination-item a:hover {
	color: #000000;

	background-color: #dfdfdf;
}
.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.3);

	background-color: #d5d5d5;
}
.pagination-item-active {
	background-color: #ffffff;
}
.pagination-item-next a {
	width: 260px;
}
/* ====== FILTERS ====== */
.filters fieldset {
 	border: none;
}
.filters legend {
  	font-size: 18px;
 	line-height: 30px;
  	font-weight: 700;
  	text-transform: uppercase;
}
.filters ul {
	padding: 0;
	margin: 0;
 	font-size: 16px;
  	line-height: 20px;

  	list-style: none;
}
.filters-form {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	  
	border: none;
}
.range-filter {
	width: 260px;
	margin-top: 49px;
}
.filters-form legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}
.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	  
	background-color: #f1f1f1;
	  
	border-radius: 5px;
}
.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}
.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}
.range-controls .toggle-min {
	left: 18px;
}
.range-controls .toggle-max {
	left: 160px;
}
.range-controls .toggle-min {
	left: 50px;
}
.range-controls .toggle-max {
	left: 110px;
}
.price-controls {
	font-size: 0;
}
.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}
.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}
.max-price {
	text-align: right;
}
.filter-option {
	margin-bottom: 20px;
	padding-left: 45px;
}
.filter-option label {
	position: relative;
	display: block;

	cursor: pointer;
	user-select: none;
}
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: -2px;
	width: 20px;
	height: 20px;

	border: 2px solid #eeeeee;
	border-radius: 10%;
}
.filter-input-checkbox:checked + label::after {
	content: "";

	position: absolute;

  	background: url("../img/checkmark-xxl.png") no-repeat center center;
  	background-size: contain;
}
.filter-input-radio + label::before {
	content: "";

	position: absolute;
	left: -42px;
  	top: -1px;
	width: 18px;
	height: 18px;
	  
	border: 5px solid #eeeeee;
	border-radius: 50%;
}
.filter-input-radio:checked + label::after {
	content: "";

	position: absolute;
	top: 8px;
  	left: -33px;
	width: 10px;
	height: 10px;

	background-color: #eeeeee;
	border-radius: 50%;
}
/* ====== Стили для сетки ====== */
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 113px;
}
.site-navigation {
	display: flex;
 	flex-wrap: wrap;
	width: 600px;
	margin: 0;
	padding: 0;
}
.user-navigation {
	display: flex;
	width: 160px;
	margin: 0;
	padding: 0;
	max-width: 160px;
}
.basket-link a {
	position: relative;
 	padding-left: 85px;
}
.basket-link a::before {
	content: "";
	  
	position: absolute;
	top: 33px;
	left: 45px;
	  
	width: 16px;
	height: 18px;

	background-image: url("../img/svg/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.features {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 80px;
	padding-left: 45px;

	background-image: url("../img/index-line.png");
	background-position: bottom, 0 0;
 	background-repeat: no-repeat;
}
.features-list {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;

	list-style: none;
}
.features-list .features-website,
.features-list .features-app {
	margin-right: 100px;
}
.features-item {
	width: 300px;
}
.features-item p {
 	margin-right: 50px;
 	margin-bottom: 34px;
}
.about-company {
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 55px;
	padding-left: 46px;
}
.partners {
	margin-bottom: 80px;
	margin-left: 40px;
}
.partners-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	align-items: center;
	padding-top: 49px;
	padding-bottom: 34px;
	padding-left: 6px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}
.main-footer {
	position: relative;
	padding: 0;
	padding-top: 8px;
}
.footer-social {
	display: flex;
}
.footer-social ul {
	width: 260px;
	margin: 0;
	margin-right: 80px;
	padding: 0;
	margin-right: 139px;
}
.footer-for-friends p {
	width: 560px;
	margin: 0;
	padding-top: 5px;
    line-height: 35px;
}
.promo {
	margin: 0;
	margin-bottom: 80px;
	padding-left: 90px;
}
.filters {
	width: 360px;
}
.catalog {
	width: 760px;
}
.catalog-columns {
	display: flex;
}
.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  	margin-right: 0;
}
.catalog-popup {
	position: absolute;
	display: none;
	top: 385px;
	left: 0px;
	height: 222px;
	width: 360px;
	padding-top: 18px;
	padding-top: 9px;

	text-align: center;
	background-color: #eeeeee;
}
.catalog-popup p {
	margin: -5px auto;
	width: 180px;
	margin-bottom: 30px;

	line-height: 19px;
	color: #666666;
}
.catalog-item:hover .catalog-popup {
	display: block;
} 
.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.maps {
	margin-bottom: 65px;
}

