body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sant-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.main-header {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	background-color: #eeeeee;
	text-transform: uppercase;
}
.site-navigation,
.user-navigation {
	list-style: none;
}
.site-navigation a,
.user-navigation a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:focus,
.user-navigation a:focus {
	color: #000000;
	opacity: .3
}
.promo {
	background-color: #eeeeee;
}
.slider-list {
	list-style: none;
}
.slider-h {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}
.slider-threephone {
	background-image: url("../img/slider-threephone.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.slider-monitor {
	background-image: url("../img/slider-monitor.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.slider-laptopandphone {
	background-image: url("../img/slider-laptopandphone.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.features-list {
	list-style: none;
}
.features-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}
.features-website {
	background-image: url(../img/index-website.png);
	background-repeat: no-repeat;
}
.features-app {
	background-image: url(../img/index-apps.png);
	background-repeat: no-repeat;
}
.features-presentation {
	background-image: url(../img/index-presentation.png);
	background-repeat: no-repeat;
}
.about-us-main {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.about-orders {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.our-services {
	list-style: none;
}
.conditions p {
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.conditions-percent {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	color: #000000;
}
.partners-list {
	list-style: none;
	opacity: .2;
}
.contacts {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.contacts-item {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts-phone {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.contacts-phone a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}
.footer-social ul {
	list-style: none;
}
.footer-friends {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}
.footer-discount {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}
.footer-social ul {
	list-style: none;
}
.button {
	font: inherit;
	line-height: 18px;
	text-align: center;
  	color: #ffffff;
  	font-weight: 500;
  	vertical-align: middle;
  	text-transform: uppercase;
  	background-color: #fb565a;
  	border: none;
}
.button:focus {
	color: rgba(255,255,255,0.3);
	background-color: #d7373b;
}
.button:hover {
	background-color: #e74246;
}
.social-button {
	color: #000000;
}
.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}
.form-writeus {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}
.form-writeus input,
.form-writeus textarea {
	border: 2px solid #d7dcde;
}
.form-writeus input:hover,
.form-writeus textarea:hover {
	border: 2px solid #b4b9bb;
}
.form-writeus input:focus,
.form-writeus textarea:focus {
	border: 2px solid #000000;
}
h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	text-align: center;
}
.filters fieldset {
  border: none;
}
.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.filters ul {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: rgba(77, 77, 77, 0.12);
}

.catalog-item:hover {
  background-color: rgb(77, 77, 77);
}
.catalog-item {
	font-size: 16px;
  	line-height: 18px;
}
.catalog-title {
	font-size: 18px;
  	line-height: 30px;
  	font-weight: 700;
  	color: #000000;
  	text-transform: uppercase;
}
.button-show {
  	color: #000000;
  	background-color: #eeeeee;
  	border: none;
}
.button-show:hover {
	color: #000000;
	background-color: #dfdfdf;
}
.button-show:focus {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: #000000;
  	background-color: #eeeeee;
  	text-transform: uppercase;
}
.pagination-item a:hover {
	color: #000000;
	background-color: #dfdfdf;
}
.pagination-item a:focus {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
}
.pagination-item-active {
	background-color: #ffffff;
}